.title {
    padding: 5px 4px;
    margin: 0;
    border-bottom: 1px solid #aaa;
}

#usageTable>#usageBody>tr>td:nth-child(3) {
    word-break: break-all;
}

#tableContainer {
    max-height: 400px;
    overflow-y: scroll;
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
}

table {
    min-width: 600px;
    max-width: 700px;
    border-collapse: collapse;
}


/* Zebra striping */

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #3498db;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 14px;
}