.title {
    padding: 5px 4px;
    margin: 0;
    border-bottom: 2px solid #aaa;
}

#activitiesList {
    margin: 0 0 6px 0;
    padding: 5px 0 5px 20px;
    list-style-type: circle;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 2px solid #aaa;
    min-width: 400px;
}

#activitiesList > li {
    line-height: 1.2rem;
}